<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="Signup">
  <ion-content has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">First Name:</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name:</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Email:</span>
        <input type="email">
      </label>
      <label class="item item-input">
        <span class="input-label">Phone:</span>
        <input type="number">
      </label>
      <ion-toggle>Subscribe To Newsletter</ion-toggle>
      <button class="button button-positive button-block">Adopt</button>
    </div>
  </ion-content>
</ion-view>
